@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'ubuntu', sans-serif;
  color: #212121;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #0063C4 url("../assets/paisagem.jpg") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

header {
  display: none;
  /* color: white;
  text-align: center; */
}

section.card-perfil {
  background-color: #00000080;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  /* margin: auto; */
  margin-top: 40px;
  box-shadow: 5px 5px 10px #00000060;
}

section.card-perfil {
  display: block;
  padding: 10px 0px;
}

section.card-perfil img#img-perfil  {
  width: 80px;
  height: 80px;
  border: 2px solid #FFF;
  border-radius: 50%;
  margin-top: 30px;
}

section.card-perfil h2#nome {
  color: #FFF;
  display: block;
  font-size: 1.2em;
}

section.card-perfil p#profissao {
  color: #FFF;
  display: block;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  color: #ffbc9d;
}

.card-perfil .fab {
  margin: 10px;
  font-size: 1.2em;
  color: #BDBDBD;
  transition-duration: 0.3s;
}

.card-perfil .fab:hover {
  color: #FFF;
  transition-duration: 0.3s;
}

.card-perfil .btn-mais {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
  color: #BDBDBD;
  text-decoration: none;
}

footer {
  /* color: white;
  text-align: center;
  font-style: italic; */
  display: none;
}
